html {
    box-sizing: border-box;

    font-size: 62.5%;
}

* {
    margin: 0;
    padding: 0;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

h1,
h2,
h3 {
    margin-bottom: 1rem;

    font-family: sans-serif;

    color: #f4f5f5;
}

h1 {
    font-size: 5rem;
}

h2 {
    font-size: 3rem;
}

h3 {
    font-size: 2.6rem;
    line-height: 1.6;
}

ul {
    padding-left: 2.4rem;
}

li {
    padding-bottom: 1.8rem;
    padding-left: 1rem;

    font-size: 1.8rem;
    font-family: sans-serif;
    color: #242331;

    list-style-type: "⏳";
}

button,
input {
    padding: 1rem;

    border: none;
    border-radius: 2px;

    font-size: 1.6rem;
    font-family: "Roboto", sans-serif;
    color: #242331;
}

button,
input[type="submit"] {
    cursor: pointer;

    background-color: #f4f5f5;
}

button:disabled,
button[disabled] {
    color: #acabc4;

    cursor: default;
}

header {
    width: 30%;
    min-width: 325px;

    height: 100vh;

    padding: 1rem;

    background-color: #242331;
}

main {
    width: 100%;

    height: 100vh;

    padding: 1rem;

    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-start;
    gap: 1rem;

    background-color: #f4f5f5;
}

.wrapper {
    display: flex;
}

.emoji {
    font-style: normal;
}

.to-do-item {
    font-style: italic;
}

.webpage-title {
    font-style: italic;
}

.creation {
    margin-top: 2.4rem;

    padding: 1rem;

    border-radius: 2px;

    background-color: #878e88;
}

.creation-form {
    display: grid;
    gap: 0.5rem;
}

.creation-name {
    width: 100%;
}

.creation-time {
    width: 100%;

    justify-content: space-between;
    gap: 0.5rem;
}

.creation-time input {
    flex: 1;
}

.creation-create-btn {
    width: 100%;
}

.coming-soon {
    margin-top: 2.4rem;

    padding: 1rem;

    border-radius: 2px;

    background-color: #f4f5f5;
}

.coming-soon h2 {
    margin-bottom: 1.8rem;

    color: #242331;
}

.timer {
    width: 300px;

    padding: 1rem;

    border-radius: 2px;

    box-shadow: 2px 2px #d5d7d6;

    background-color: #e57a44;
}

.timer.finished {
    animation: shake 0.5s;
    animation-iteration-count: infinite;
}

.timer-display {
    margin-bottom: 0.5rem;

    padding: 1rem;

    border-radius: 2px;

    background-color: #f4f5f5;

    font-size: 3.2rem;
    font-family: "Inconsolata", monospace;
    font-style: medium;
    color: #242331;
}

.timer-display.timing {
    background-color: #8de969;
}

.timer-display.paused {
    background-color: #feed72;
}

.timer-display.finished {
    background-color: #f5aaa3;
}

.timer-btns {
    gap: 0.5rem;
}

.timer-start-stop-btn {
    flex: 2;
}

.timer-reset-btn {
    flex: 1;
}

@keyframes shake {
    0% {
        transform: translateX(-1px);
    }
    25% {
        transform: translateX(1px);
    }
    50% {
        transform: translateX(-1px);
    }
    75% {
        transform: translateX(1px);
    }
    100% {
        transform: translateX(-1px);
    }
}
